
body {
    background-image: url("bgrqt.png"); /* add background image */
    background-repeat: no-repeat; /* don't repeat the image */
    background-size: cover; /* scale the image to cover the entire background */
    background-color: rgba(0,0,0,0.8); /* add a transparent black overlay */
    font-family: Arial, sans-serif;
    text-align: center;
}

h1 {
    text-align: center; /* center the text */
    font-size: 50px; /* increase the font size */
    font-family: 'Open Sans', sans-serif; /* use the 'Open Sans' font */
}

#timer {
    margin: 50px 0;
    text-align: center; /* center the timer */
    font-size: 48px; /* increase the font size of the timer */
}

#demo {
    color: #000; /* change the color of the timer */
    font-size: 36px; /* increase the font size of the timer */
    padding: 20px; /* add padding to the timer */
}

a {
    color: #0077cc;
    font-size: 18px;
    text-decoration: none;
}

img{
    display: block;
    margin: 0 auto;
    width: 100%;
    height: 150px;
}

#header-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#header-container img {
  margin-bottom: 10px;
}
